/* Reinitialisation des bordures du navigateur */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #4d4747;
  display: flex;
  height: 15vh;
  width: 100%;
}
header div:nth-of-type(1) {
  flex: 30%;
  margin: 1%;
  margin-right: 25%;
}
header img:nth-child(1) {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
header div:nth-of-type(2) {
  flex: 8%;
  height: 40%;
  margin: 1%;
  margin-right: 2%;
}
header img:nth-child(2) {
  object-fit: cover;
  height: 50px;
  width: 50px;
}
header input {
  flex: 60%;
  height: 30%;
  margin: auto;
  margin-right: 25%;
  border-radius: 5vh;
  border-style: none;
  text-align: center;
  background-color: #cec8c8;
}
header nav {
  flex: 10%;
  background-color: red;
  margin: 1%;
  margin-left: 0%;
  height: 30%;
  text-align: center;
}
main {
  background-image: url('/public/images/fond.jpg');
  background-size: cover;
  width: 100%;
  height: 110vh;
}
main div {
  object-fit: fill;
  height: 100vh;
  width: 100%;
  padding-top: 35%;
  text-align: center;
}
section:nth-of-type(1) {
  background-image: url('/public/images/fondfooter.jpg');
  background-size: cover;
  width: 100%;
  height: 110vh;
}
section:nth-of-type(1) div {
  height: 40vh;
  width: 100%;
}
section:nth-of-type(1) div h3 {
  text-align: center;
  padding-top: 20%;
  font-size: xx-large;
  color: #ffffff;
}
section:nth-of-type(1) div p {
  padding-top: 5%;
  text-align: center;
  font-size: x-large;
  color: #ffffff;
  margin: 5%;
}
section:nth-of-type(2) {
  height: 110vh;
  width: 100%;
  background-image: url('/public/images/fondapropos.jpg');
  background-size: cover;
}
section:nth-of-type(2) h3 {
  padding-top: 20%;
  text-align: center;
  font-size: xx-large;
  color: #ffffff;
}
section:nth-of-type(2) p {
  text-align: center;
  font-size: x-large;
  color: white;
  margin: 5%;
}
footer {
  height: 100vh;
  width: 100%;
  background-image: url('/public/images/fondcontact.jpg');
  background-size: cover;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #666;
}
footer h1 {
  margin: 0 0 20px;
  font-weight: 400;
  color: #313e46;
}
footer p {
  margin: 0 0 5px;
}
footer .main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@keyframes float {
  0% {
    transform: translateX(0px);
    opacity: 50%;
  }
  50% {
    transform: translateX(400px);
    opacity: 0%;
  }
  100% {
    transform: translateX(8000px);
    opacity: 0%;
  }
}
footer form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
}
footer input,
footer textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #6e6666;
  outline: none;
}
footer input::placeholder {
  color: #666;
}
footer button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #303133;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
footer button:hover {
  background: #394247;
  cursor: pointer;
}
footer button:hover .main-block {
  animation: float 1.5s;
}
.divcr {
  position: relative;
  text-align: center;
  background: scroll;
  margin-top: 6%;
  color: whitesmoke;
  font-size: large;
}
@media (min-width: 568px) {
  .main-block {
    flex-direction: row;
  }
  .left-part,
  form {
    width: 50%;
  }
}
.btn {
  position: absolute;
  margin-top: 30px;
  width: 5%;
  height: 5%;
  right: 200px;
  opacity: 100%;
  transition: 0.8s;
}
.btn.active {
  right: 200px;
  opacity: 0;
  transition: 0.8s;
}
.showcase {
  position: absolute;
  top: -1500px;
  height: 100%;
  width: 10%;
  background: #313030;
  transition: 0.8s;
  background-image: none;
  overflow: hidden;
  /* Hide horizontal scrollbar */
  z-index: 1;
}
.showcase.active {
  background: #313030;
  top: 0px;
  bottom: 1px;
  overflow: hidden;
  /* Hide horizontal scrollbar */
  transition: 0.8s;
  z-index: 1;
}
.closeMenu {
  position: absolute;
  bottom: 10%;
  right: 50%;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #a89c9c;
}
.closeMenu:hover {
  background-color: #8a7b7b;
}
.menu a {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #000000;
  width: 98%;
  margin-top: 55px;
  background-color: #a89c9c;
}
.menu a:hover {
  background-color: #8a7b7b;
}
@media screen and (max-width: 768px) {
  body {
    width: 768px;
  }
  header {
    height: 15vh;
    width: 768px;
  }
  header a {
    flex: 10%;
    width: 50px;
    height: 50px;
  }
  header div:nth-of-type(1) {
    margin-top: 30px;
    height: 70px;
    width: 0vh;
  }
  header img:nth-child(1) {
    object-fit: cover;
  }
  header div:nth-of-type(2) {
    height: 70px;
    width: 50px;
  }
  header img:nth-child(2) {
    object-fit: fill;
    height: 20px;
    width: 20px;
  }
  header input {
    height: 50px;
    width: 80px;
    border-style: none;
    text-align: center;
    background-color: #cec8c8;
    display: none;
  }
  header nav {
    flex: 10%;
    width: 20px;
    height: 70px;
    text-align: center;
  }
  main {
    background-image: url('/public/images/fond.jpg');
    background-size: cover;
    width: 100%;
    height: 110vh;
  }
  main div {
    height: 100vh;
    width: 100%;
    padding-top: 35%;
    text-align: center;
  }
  section:nth-of-type(1) h3 {
    font-size: smaller;
    width: 90%;
    margin-top: 30%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
  }
  section:nth-of-type(1) p {
    font-size: smaller;
    width: 90%;
    text-align: center;
    padding-top: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  section:nth-of-type(2) h3 {
    font-size: xx-large;
    width: 90%;
    text-align: center;
    margin-top: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  section:nth-of-type(2) p {
    font-size: xx-large;
    width: 90%;
    text-align: center;
    padding-top: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
@media screen and (max-width: 384px) {
  body {
    width: 384px;
  }
  header {
    height: 15vh;
    width: 384px;
  }
  header a {
    flex: 10%;
    width: 50px;
    height: 50px;
  }
  header div:nth-of-type(1) {
    height: 80px;
    width: 40px;
  }
  header img:nth-child(1) {
    object-fit: cover;
    margin-bottom: 50px;
  }
  header div:nth-of-type(2) {
    height: 50px;
    width: 50px;
  }
  header img:nth-child(2) {
    object-fit: fill;
    height: 20px;
    width: 20px;
  }
  header input {
    height: 30px;
    width: 100px;
    border-style: none;
    text-align: center;
    background-color: #cec8c8;
    display: none;
  }
  header nav {
    flex: 10%;
    width: 20px;
    height: 50px;
    text-align: center;
  }
  main {
    background-image: url('/public/images/fond.jpg');
    background-size: cover;
    width: 100%;
    height: 110vh;
  }
  main div {
    height: 100vh;
    width: 100%;
    padding-top: 35%;
    text-align: center;
  }
  section:nth-of-type(1) h3 {
    font-size: smaller;
    width: 90%;
    margin-top: 30%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
  }
  section:nth-of-type(1) p {
    font-size: smaller;
    width: 90%;
    text-align: center;
    padding-top: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  section:nth-of-type(2) h3 {
    font-size: xx-large;
    width: 90%;
    text-align: center;
    margin-top: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  section:nth-of-type(2) p {
    font-size: xx-large;
    width: 90%;
    text-align: center;
    padding-top: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
