/* Reinitialisation des bordures du navigateur */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
// =================================================================

// ----------------------------------------------------------------
header{
    background-color: rgb(77, 71, 71);
    display: flex;
    height: 15vh;
    width: 100%;
    
    div:nth-of-type(1){
        flex: 30%;
        margin: 1%;
        margin-right: 25%;
    }
    img:nth-child(1){
        object-fit:cover;
        height: 100%;
        width: 100%;
    }
    div:nth-of-type(2){
        flex: 8%;
        height: 40%;
        margin: 1%;
        margin-right: 2%;
    }
    img:nth-child(2){
        object-fit: cover;
        height: 50px;
        width: 50px;
    }

    input{
        flex: 60%;
        height: 30%;
        margin: auto;
        margin-right: 25%;
        border-radius: 5vh;
        border-style: none;
        text-align: center;
        background-color: rgb(206, 200, 200);     
    }
    nav{
        
        flex: 10%;
        background-color: red;
        margin: 1%;
        margin-left: 0%;
        height: 30%;
        text-align: center;
    }
}

main{
    background-image: url('/public/images/fond.jpg');
    background-size: cover;
    width: 100%;
    height: 110vh;
    div{
        object-fit:fill;
        height: 100vh;
        width: 100%;
        padding-top: 35%;
        text-align: center;
    }
}

section:nth-of-type(1){
    background-image: url('/public/images/fondfooter.jpg');
    background-size: cover;
    width: 100%;
    height: 110vh;
        div{
        height: 40vh;
        width: 100%;
        h3{
            text-align: center;
            padding-top: 20%;
            font-size: xx-large;
            color: rgb(255, 255, 255);
        }
        p{
            padding-top: 5%;
            text-align: center;
            font-size: x-large;
            color: rgb(255, 255, 255);
            margin: 5%;
        }
    }
}

section:nth-of-type(2){
    height: 110vh;
    width: 100%; 
    background-image: url('/public/images/fondapropos.jpg');
    background-size: cover;

        h3{
            padding-top: 20%;
            text-align: center;
            font-size: xx-large;
            color: rgb(255, 255, 255);   
        }
        p{
            text-align: center;
            font-size: x-large;
            color: white;
            margin: 5%;
        }
}
footer{
    height: 100vh;
    width: 100%;
    background-image: url('/public/images/fondcontact.jpg');
    background-size: cover;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    color: #666;
    
    h1 {
    margin: 0 0 20px;
    font-weight: 400;
    color: #313e46;
    }
    p {
    margin: 0 0 5px;
    }
    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }


    @keyframes float {
        0% {
          transform: translateX(0px);
          opacity: 50%;
        }
        50% {

          transform: translateX(400px);
          opacity: 0%;
        }
        100% {

          transform: translateX(8000px);
          opacity: 0%;
        }
      }
    
    form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5; 
    background: #f5f5f5; 
    }
    input, textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #6e6666;
    outline: none;
    }
    input::placeholder {
    color: #666;
    }
    button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #303133; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    }
    button:hover {
    background: #394247;
    cursor:pointer;


    // A modif 
    }
     button:hover .main-block  {
       
        animation: float 1.5s;  
        
    }        
    }

    // --
.divcr{
    position:relative;
    text-align: center;
    background:scroll;
    margin-top: 6%;
    color: whitesmoke;
    font-size: large;
    
    }





    @media (min-width: 568px) {
    .main-block {
    flex-direction: row;
    }
    .left-part, form {
    width: 50%;
    }
    }

    .btn
    {
      position: absolute;
      margin-top: 30px;
      width: 5%;
      height: 5%;
      right: 200px;
      opacity: 100%;
      transition: 0.8s;
    }
    .btn.active
    {
      right: 200px;
        opacity: 0;

        transition: 0.8s;
    }

    .showcase
    {
      position: absolute;
      top: -1500px;
      height: 100%;
      width: 10%;
      background: rgb(49, 48, 48);
      transition: 0.8s;
      background-image: none;
      overflow: hidden; /* Hide horizontal scrollbar */
      z-index: 1;
    }
    .showcase.active
    {
      background: rgb(49, 48, 48);
      top: 0px;
      bottom: 1px;
      overflow: hidden; /* Hide horizontal scrollbar */
      transition: 0.8s;
      z-index: 1;
    }

    

    .closeMenu{
        position: absolute;
        bottom: 10%;
        right: 50%;
        font-size: 30px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: #a89c9c;
    }
    .closeMenu:hover{
        background-color: rgb(138, 123, 123);
    }


    .menu{
        a{
        display: flex;
        flex-direction: column;
        font-size: 60px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        color: rgb(0, 0, 0);
        width: 98%;
        margin-top: 55px;
        background-color: #a89c9c;
        }
        a:hover{
            background-color: rgb(138, 123, 123);
        }

        
    }






// Responsive








//Tablette
@media screen and (max-width:768px){

    body{
        width: 768px;
    }

    header{
        // background-color: rgb(94, 30, 30);
        height: 15vh;
        width: 768px;
        
        
        a{
            flex: 10%;
            width: 50px;
            height: 50px;
        }

        div:nth-of-type(1){
            // margin: 1%;
            // background-color: aqua;
            margin-top: 30px;
            height: 70px;
            width: 0vh;
        }
        img:nth-child(1){
            object-fit:cover;
            // height: 100px;
            // width: 100px;
        


        }
        div:nth-of-type(2){
            // flex: 8%;
            height: 70px;
            width: 50px;
            // background-color: blue;
            // margin: 1%;
            // margin-right: 2%;
        }
        img:nth-child(2){
            object-fit:fill;
            height: 20px;
            width: 20px;
            // background-color: aquamarine;
        }
    
        input{
            height: 50px;
            width: 80px;
            border-style: none;
            text-align: center;
            background-color: rgb(206, 200, 200); 
            display: none;

        }
        nav{
            
            flex: 10%;
            // background-color: red;
            // margin: 1%;
            width: 20px;
            height: 70px;
            text-align: center;
        }
    }
    main{
        background-image: url('/public/images/fond.jpg');
        background-size: cover;
        width: 100%;
        height: 110vh;
        div{
            height: 100vh;
            width: 100%;
            padding-top: 35%;
            text-align: center;
        }
    }
    section:nth-of-type(1){
        h3{
            font-size:smaller;
            width:90%;
            margin-top: 30%;
            padding-left: 1%; 
            padding-right: 1%;
            text-align: center;
            // background-color: aqua;
        }
        p{
            font-size:smaller;
            width: 90%;
            text-align: center;
            padding-top: 20%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            // background-color: crimson;
        }

    }
    section:nth-of-type(2){
        h3{
            font-size:xx-large;
            text-align: center;
            width: 90%;
            text-align: center;
            margin-top: 20%;
            padding-left: 2.5%; 
            padding-right: 2.5%;
            // background-color: aqua;
        }
        p{
            font-size:xx-large;
            width: 90%;
            text-align: center;
            padding-top: 20%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            // background-color: crimson;
        }

    }
    
    

}



// Telephone
@media screen and (max-width:384px){
    body{
        width: 384px;
    }

    header{
        // background-color: rgb(94, 30, 30);
        height: 15vh;
        width: 384px;
        
        
        a{
            flex: 10%;
            width: 50px;
            height: 50px;
        }

        div:nth-of-type(1){
            // margin: 1%;
            // background-color: aqua;
            // margin-bottom: 50px;
            height: 80px;
            width: 40px;
        }
        img:nth-child(1){
            object-fit:cover;
            // height: 100px;
            // width: 100px;
            margin-bottom: 50px;
        


        }
        div:nth-of-type(2){
            // flex: 8%;
            height: 50px;
            width: 50px;
            // background-color: blue;
            // margin: 1%;
            // margin-right: 2%;
        }
        img:nth-child(2){
            object-fit:fill;
            height: 20px;
            width: 20px;
            // background-color: aquamarine;
        }
    
        input{
            height: 30px;
            width: 100px;
            border-style: none;
            text-align: center;
            background-color: rgb(206, 200, 200); 
            display: none;
        }
        nav{
            
            flex: 10%;
            // background-color: red;
            // margin: 1%;
            width: 20px;
            height: 50px;
            text-align: center;
        }
    }
    main{
        background-image: url('/public/images/fond.jpg');
        background-size: cover;
        width: 100%;
        height: 110vh;
        div{
            height: 100vh;
            width: 100%;
            padding-top: 35%;
            text-align: center;
        }
    }
    section:nth-of-type(1){
        h3{
            font-size:smaller;
            width:90%;
            margin-top: 30%;
            padding-left: 1%; 
            padding-right: 1%;
            text-align: center;
            // background-color: aqua;
        }
        p{
            font-size:smaller;
            width: 90%;
            text-align: center;
            padding-top: 20%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            // background-color: crimson;
        }

    }
    section:nth-of-type(2){
        h3{
            font-size:xx-large;
            text-align: center;
            width: 90%;
            text-align: center;
            margin-top: 20%;
            padding-left: 2.5%; 
            padding-right: 2.5%;
            // background-color: aqua;
        }
        p{
            font-size:xx-large;
            width: 90%;
            text-align: center;
            padding-top: 20%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            // background-color: crimson;
        }

    }
    
    

}